Week11---Database
(M:Manuel olarak, K:SQL komutlarıyla, C:Python kodlariyla)

2.Ayni veri tabanı yine olusturun (K)
create database class4

3.Tablolar arasindaki en az 5 iliskiyi yazin
1.actor 	:ad ve soyadı dahil olmak üzere aktör verilerini depolar.
2.film  	:başlık, yayın yılı, uzunluk, derecelendirme vb. gibi film verilerini depolar.
3.film_actor 	:film ve actor arasındaki ilişkileri saklar.
4.category 	:filmin kategori verilerini saklar.
5.film_category	:filmler ve kategoriler arasındaki ilişkileri saklar.
6.srote		:yönetici personeli ve adres dahil olmak üzere mağaza verilerini içerir.
7.address	:personel,müşteriler ve mağaza için adres verilerini saklar.

5.ER modeldeki tablolardan 3 tanesini K olusturun.
create table city
(city_id integer primary key not null,
 city VARCHAR(15) NOT null
)
create table country
(country_id integer primary key not null,
 country VARCHAR(15) NOT null
)
CREATE TABLE customer
(customer_id integer primary key not null,
 store_id VARCHAR(15) NOT null
)

6.ER modeldeki tablolardan 3 tanesini C olusturun.
import psycopg2
conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()
comand = '''CREATE TABLE film(
    film_id integer primary key,
    title varchar(15) NOT NULL
)
'''
cur.execute(comand)     #cursor
cur.close()             #close
conn.commit()           #confirmation
conn.close()            #close

import psycopg2
conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()
comand = '''CREATE TABLE film_actor(
    actor_id integer primary key,
    film_id varchar(15) NOT NULL
)
'''
cur.execute(comand)     #cursor
cur.close()             #close
conn.commit()           #confirmation
conn.close()            #close
import psycopg2
conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()
comand = '''CREATE TABLE film_category(
    film_id integer primary key,
    category_id varchar(15) NOT NULL
)
'''
cur.execute(comand)     #cursor
cur.close()             #close
conn.commit()           #confirmation
conn.close()            #close

8.Olusturdugunuz 3 tabloya K ile 5 veri girisi yapin.
insert into city(city_id,city) values (1,'Istanbul')
insert into city(city_id,city) values (2,'Willebroek')
insert into country(country_id,country) values (2,'Turkıye')
insert into country(country_id,country) values (2,'Belgium')
insert into customer(customer_id,store_id) values(1,1)
insert into customer(customer_id,store_id) values(2,2)

9-Olusturdugunuz 3 tabloya C ile 5 veri girisi yapin.

cur.execute('INSERT INTO film VALUES(%s,%s)',(1,'1'))
cur.close()
conn.commit
conn.close()

cur.execute('INSERT INTO film_actor VALUES(%s,%s)',(1,'1'))
cur.close()
conn.commit
conn.close() 

cur.execute('INSERT INTO film_category VALUES(%s,%s)',(1,'1'))
cur.close()
conn.commit
conn.close()

11- 3 tablodaki birer veriyi K ile degistirin.
UPDATE cıty set city='Ordu' WHERE city_id=1
UPDATE film set title='Tosun Paşa' where film_id=2
UPDATE country set country='Greece' WHERE country_id=2

12- 3 tablodaki birer veriyi C ile degistirin.
import psycopg2
conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()


cur.execute('UPDATE film SET title=%s WHERE film_id=%s',('Esaretin Bedeli',1))
cur.close()
conn.commit
conn.close()

###########################################################

import psycopg2
conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()


cur.execute('UPDATE cıty SET city=%s WHERE city_id=%s',('Brussel',2))
cur.close()
conn.commit
conn.close()

###########################################################
import psycopg2
conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()


cur.execute('UPDATE country SET country=%s WHERE country_id=%s',('Belgium',1))
cur.close()
conn.commit
conn.close()

13.3 tablonun son satirini M ile silinmiş.
silindi.

14.3 tablonun son satirini K ile silinmiş.
DELETE FROM actor WHERE actor_id=(SELECT actor_id FROM actor order by actor_id DESC LIMIT 1), 
DELETE FROM film WHERE film_id=(SELECT film_id FROM film ORDER BY film_id DESC LIMIT 1)
DELETE FROM country WHERE countryy_id=(SELECT countryy_id FROM country order by country_id DESC LIMIT 1)

15.3 tablonun son satirini C ile silinmiş

conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()


cur.execute('''DELETE FROM cıty WHERE city_id =(SELECT city_id FROM cıty ORDER BY city_id DESC LIMIT 1)''')
cur.close()
conn.commit()  ####################
conn.close()
####################################################

conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()


cur.execute('''DELETE FROM address WHERE adress_id =(SELECT address_id FROM address ORDER BY address_id DESC LIMIT 1)''')
cur.close()
conn.commit()  ####################
conn.close()

####################################################

conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()


cur.execute('''DELETE FROM actor WHERE actor_id =(SELECT actor_id FROM actor ORDER BY actor_id DESC LIMIT 1)''')
cur.close()
conn.commit()  ####################
conn.close()

16.1 tabloyu M ile silin.
SİLİNDİ

17- 1 tabloyu K ile silinmiş.
DROP TABLE film_actor

18- 1 tabloyu C ile silinmiş.
conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()


cur.execute('''DROP TABLE customer''')  ############     3 lü diyez   
cur.close()
conn.commit()   #######                                    parantez
conn.close()

########################################################

19- Kalan tablolardan 1 tanesinin 2 veya 3 sutununu K ile baska bir tablo olarak olusturun.
CREATE table category_ AS SELECT city_id,city FROM cıty

20.Kalan tablolardan 1 tanesinin 2 veya 3 sutununu C ile baska bir tablo olarak olusturun.

conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()


cur.execute('''CREATE TABLE adress_ AS SELECT city_id,city FROM cıty''')
cur.close()
conn.commit()  ####################
conn.close()

21.Tablolardan 1 tanesini M ile truncate edin.
:)

22.Tablolardan 1 tanesini K ile truncate edin
TRUNCATE TABLE adress_

23.Tablolardan 1 tanesini C ile truncate edin.
from click import command
import psycopg2
conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()


cur.execute('''TRUNCATE TABLE address''')
cur.close()
conn.commit()  ####################
conn.close()

24.Truncate edilmis tablolari M ile silin.
:)

25.2 tabloyu K ile silindi.
DROP TABLE country
DROP TABLE actor

26.2 tabloyu C  silin.

conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()


cur.execute('''DROP TABLE cıty''')
cur.close()
conn.commit()  ####################
conn.close()
##########################
from click import command
import psycopg2
conn = psycopg2.connect ("dbname=dbclass4 user=postgres password=Ertan3452")
cur = conn.cursor()


cur.execute('''DROP TABLE category''')
cur.close()
conn.commit()  ####################
conn.close()

28.Elimizde veri olan 1 tablo kalmis olmasi lazim. Tabloyu csv olarak bilgisayarınızı yukleyin.

29.Postgresql arayuzundeki son tabloyu da K ile silin.

30- Import ettiginiz bu tabloyu C ile silin.

31.https://www.postgresqltutorial.com/postgresql-sample-database/ linkindeki ornek DB yi bilgisayariniza indirin ve arayuze yukleyin.

:)

32.DB nizde 15 adet tablo olmasi lazim. Her tabloyu teker teker goruntuleyin ve kolon isimlerine bakarak, 5 tabloda hangi kolonun PK ve FK oldugunu yazin.
Sorgular? (Asagidaki sorularin cevaplarini ve bu cevabi bulurken kullandiginiz kodlari yazin)
table = store , store_id=pk, adress_id,manager_staff_id=fk
table = staff , staff_id=pk, staff_adress_id,payment_staff_id,rental_staff_id=fk
table = rental ,rental_id=pk, invontory_id,customer_id,rental_staff_id,paymet_rental_id=fk
table = payment ,payment_id=pk, payment_customer_id,payment_rental_id,paymet_rental_id=fk
table = customer customer_id=pk, customer_adress_id,payment_customer_id,rental_customer_id=fk             
                    
                                                 '''DEPENDENTS '''

33.Action filmlerinin ortalama suresi ne kadar?
--select avg(length) from film where ..............

34- En cok staff olan store hangisidir?
select count(staff_id) from staff

35- 'Gene Willis' adli actorun oynadigi filmlerin ratingi nedir?
select rating from film  WHERE IN actor=(select actor_id from actor where first_name='Gene')  ???

36- Aktif customer sayisi nedir?
select count(*) from customer where active=1

37- 'C' harfiyle baslayan filmler hangileridir?
select * from film where title like'C%'

38- 4$ den az odeme yapan musterilerin e-mail edresleri nedir?
select email from customer where customer_id IN(SELECT customer_id from payment where amount<4 )

39- Moscow'da ikamet eden staff ve customer tablosu? (sadece isim/soyisim sutunu olsun)

select first_name,last_name from customer where customer_id IN(SELECT city_id from city where city='Moscow' )

40- En az kiralanan 5 film hangisidir?
select min(title) from film where rental_id IN(SELECT rental_id from rental) group by LIMIT 5  ?????

41- 2006 yilinda yayinlanan ingilizce filmler hangileridir?
SELECT title from film where release_year=2006